*.egg-info
*.pot
*.py[co]
*.map
*.scssc
.tox/
_pycache_
MANIFEST
.idea/
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
/static/
tests/report/
*.sqlite3
venv/
mainapp/static/style.css
mainapp/static/optimization.css
mainapp/static/style.min.css
mainapp/static/optimization.min.css
**/migrations/*
!**/migrations/__init__.py
/media/*
media/icons/*.*
!media/design
!media/admin_design
!media/default
!media/icons
!media/fiels
media/design/*.*
locate/
dir_cache/
/mainapp/static/scss/slinky/*.css
/mainapp/static/admin/settings/*.css
.env
debug.log
data/