{% extends "index.html" %}
{% block content %}
<div class="container product-item">
    <div>
        <a href="{% url 'cart:detail' %}">Кошик</a>
    </div>
    <h1>Детальна інформація про товар</h1>
    <div>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div>
        <span>{{ product.name }}</span>
        <span>{{ product.price }}</span>
        <input type="number" name="quantity" min="0" step="1">
        <button class="add-to-cart" data-product-id="{{ product.id }}">Укошик</button>
    </div>
    <div>
        <div>{{ product.description }}</div>
    </div>
</div>
{% endblock %}

